<strong>Hi, {{ provider }}!</strong>
<p>An appointment has been cancelled, check the details below:</p>
<p>
  <strong>Consumer: </strong> {{ user }} <br />
  <strong>Datetime: </strong> {{ date }} <br />
  <br />
  <small>
    The time is again available for new appointments.
  </small>
</p>
